.todo_wrapper {
  height: 30vh;
  max-width: 600px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
